@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  /* padding: 1rem; */
  background-color: #111;
}
main{
  background-image: radial-gradient(#474bff 1px, transparent 1px);
  /* background-image: radial-gradient(#474bff 1px, #111 1px); */
  background-size: 20px 20px;
  background-color: #ffffff;
  /* padding: 1rem; */
}

.input , .output{
  width: 10px;
  height: 10px;
  position: absolute;
  /* background-color: red; */
  transform: translateY(-50%);
  transition: all 0.2s;
}
.gate{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.gate-element{
  background-color: #000;
  border-radius: 0.4rem;
  opacity: 0.8;
  cursor: move;
  border: 2px solid #ffffff;
  transition: all 0.3s;
  padding: 2px;
  font-size:small;
  color: white;
}
.gate-element:hover{
  border: 2px solid rgb(5, 5, 5);
}
.gate span{
  pointer-events: none;
}
.input{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inputa{
  z-index: 20;
  top: 25%;
  left: -10px;
}
.inputb{
  z-index: 20;
  top: 75%;
  left: -10px;
}
.output{
  z-index: 20;
  top: 50%;
  right: -10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  ;
}
/* .output:hover,.input:hover{
  background-color: #222;
} */

.input:hover,.output:hover{
  background-color: #af47ff;
}
.active{
  box-shadow: 3px 3px 10px #111;
}
span{
  user-select: none;
  font-size: smaller;
}
canvas{
z-index: 3;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: transparent;
}
canvas{
  z-index: 5;
}

path:hover{
  stroke: #bf01ff;
  cursor: pointer;
  stroke-width: 3;
  cursor: pointer;

}

path{
  transition: all 0s;
  stroke-dasharray: 4;
}
.move{
  animation: stroke 0.4s infinite linear;
}
@keyframes stroke {
  0%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 8;
  }
}



