@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  /* padding: 1rem; */
  background-color: #111;
}

main{
  background-image: radial-gradient(#474bff 1px, transparent 1px);
  /* background-image: radial-gradient(#474bff 1px, #111 1px); */
  background-size: 20px 20px;
  background-color: #ffffff;
  /* padding: 1rem; */
}

.gate{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.btns{
  top: 0.5rem;
  left: 0.5rem;

  position: absolute;
  /* width: 100px; */
  z-index: 100;


}
#save,#reset{
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}
#save{
  font-size: small;
  background-color: #af47ff;
  color: white;
  top: 0;
  left: 0;
}
#reset{
  margin-left: 0.5rem;
  background-color: #ff4d47;
  color: white;
  font-size: small;
  top: 0;
  left: 0;
  z-index: 100;

}
.gate-element{
  background-color: #000;
  border-radius: 0.4rem;
  opacity: 0.8;
  cursor: move;
  border: 2px solid #232323;
  transition: all 0.3s;
  padding: 2px;
  font-size:small;
  color: white;
  width: 40px;
  min-height: 40px;
}
.gate-element:hover{
  border: 2px solid rgb(5, 5, 5);
}
.gate span{
  pointer-events: none;
}
.input-container{
  position: absolute;
  left: -10px;
  height: 100%;
  width:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input , .output{
  width: 10px;
  height: 10px;
  transition: all 0.2s;
}
.output{
  width: 10px;
  height: 10px;
  position: absolute;
  /* background-color: red; */
  transform: translateY(-50%);
  transition: all 0.2s;
}
.input{
  z-index: 20;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.output{
  z-index: 20;
  top: 50%;
  right: -10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  ;
}
.input:hover,.output:hover{
  background-color: #af47ff;
}
.active{
  box-shadow: 3px 3px 10px #111;
}
span{
  user-select: none;
  font-size: smaller;
}
canvas{
z-index: 3;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: transparent;
}
canvas{
  z-index: 5;
}

path:hover{
  stroke: #bf01ff;
  cursor: pointer;
  stroke-width: 3;
  cursor: pointer;
  
}

path{
  transition: all 0s;
  stroke-dasharray: 4;
}
.move{
  animation: stroke 0.4s infinite linear;
}
@keyframes stroke {
  0%{
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 8;
  }
}

.temp-path:hover{
  stroke-width: 2;
  stroke: #1115;
}
